# build/binary artifacts
*.exe
*.dll
*.bin
*.obj
*.pdb
*.lib
*.a
*.o
*.os
*.dylib
__pycache__

# other intermediet build
build/windev_path
.sconsign.dblite
*.orig

# private user space and dependencies
user/**
!user/readme.md
macosdev
windev

# Tests
test/**
!test/*.nvgt

# website builds
web/_site
web/docs
