# build/binary artifacts
*.exe
*.dll
*.bin
*.obj
*.pdb
*.lib
__pycache__

# other intermediet build
build/windev_path
.sconsign.dblite
*.orig

# private user space and dependencies
user/**
!user/readme.md
windev
