[submodule "extra"]
	path = extra
	url = https://github.com/samtupy/nvgt_extra
	branch = master
[submodule "vcpkg/bin"]
	path = vcpkg/bin
	url = https://github.com/microsoft/vcpkg
[submodule "vcpkg/Implib.so"]
	path = vcpkg/Implib.so
	url = https://github.com/yugr/Implib.so
