</div></main>
<footer><div id="footer">
      &copy; 2022&ndash;{{ site.time | date: "%Y" }} <a href="https://samtupy.com">Sam Tupy Productions</a>
</div></footer>
<script src = "/js/copy.js"></script>
</body>
</html>
