<ul class="links" style="list-style-type:none;">
 <li><a href="/">Home</a>
 <li><a href="/docs">Documentation</a>
 <li><a href="/blog">Blog</a>
 <li><a href="https://github.com/samtupy/nvgt">Source code on github</a>
</ul>
